@charset "UTF-8";

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  display: block;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
ul li {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.request__input::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.request__input::-moz-placeholder {
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.request__input:-ms-input-placeholder {
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.request__input::-ms-input-placeholder {
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider__text,
.slider__item,
.request__input::placeholder,
.services__tabs-title,
.services__tabs-num,
.socials__link,
.footer__privacy:after,
.contacts__link:after,
.header__link:after {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__privacy,
.contacts__link,
.header__link {
  position: relative;
}

.footer__privacy:after,
.contacts__link:after,
.header__link:after {
  content: "";
  height: 2px;
  width: 100%;
  max-width: 0px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.footer__privacy:hover:after,
.contacts__link:hover:after,
.header__link:hover:after,
.footer__privacy:focus:after,
.contacts__link:focus:after,
.header__link:focus:after {
  max-width: 250px;
}

@-webkit-keyframes call-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

@keyframes call-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

:root {
  --margin-section: 100px;
  --margin-block: 50px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  font: 18px/1.5 "Oswald", sans-serif;
  font-weight: 300;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-1 {
  font-weight: 400;
  font-size: 72px;
  color: #fff;
}

.title-2 {
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}

.title-3 {
  display: inline-block;
  padding-right: 100px;
  font-weight: 400;
  font-size: 36px;
  color: #21062a;
  position: relative;
}

.title-3:after {
  content: "";
  height: 3px;
  width: 80px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #21062a;
}

.title-4 {
  font-weight: 400;
  color: #5a0d67;
}

.btn-main {
  display: block;
  width: 100%;
  max-width: 250px;
  padding: 14px 0;
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  background-color: #5a0d67;
  -webkit-transition: all 0.3s ease, outline 0s;
  -o-transition: all 0.3s ease, outline 0s;
  transition: all 0.3s ease, outline 0s;
}

.btn-main:hover,
.btn-main:focus {
  color: #5a0d67;
  background-color: #fff;
}

.btn-main:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-main--call:hover,
.btn-main--call:focus {
  outline: 2px solid #5a0d67;
}

.btn-main--call:after {
  content: "";
  width: 80px;
  height: 1px;
  position: absolute;
  right: -60px;
  top: 25px;
  background-color: #2c2b2b;
  -webkit-animation-name: call-opacity;
          animation-name: call-opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.btn-main--call::before {
  content: "ЖМИ";
  position: absolute;
  right: -90px;
  color: #5a0d67;
  -webkit-animation-name: call-opacity;
          animation-name: call-opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials__link:hover,
.socials__link:focus {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.body__header {
  margin-bottom: var(--margin-section);
}

.main__flex-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__services,
.main__why,
.main__slider {
  margin-bottom: var(--margin-section);
}

.header {
  position: relative;
}

.header__content {
  padding: 50px 0 120px;
  background: center/cover no-repeat url("./../img/header-bg.jpg");
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 105px;
}

.header__logo-link {
  min-width: 197px;
}

.header__link {
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}

.header__title-1 {
  max-width: 800px;
}

.header__title-2 {
  max-width: 800px;
  margin-bottom: 30px;
}

.header__text {
  max-width: 600px;
  margin-bottom: 30px;
  color: #fff;
}

.header__btn-main {
  margin-bottom: 70px;
}

.header__img-wrapper {
  max-width: 1230px;
  padding: 200px 15px 0;
  margin: 0 auto;
  position: relative;
  pointer-events: none;
}

.header__img {
  max-width: 867px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.services__title-3 {
  margin-bottom: var(--margin-block);
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__box {
  width: 100%;
}

.services__text-box {
  max-width: 500px;
  margin-bottom: var(--margin-block);
  text-align: justify;
}

.services__title-4 {
  margin-bottom: 12px;
}

.services__text {
  margin-bottom: 12px;
}

.services__tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  overflow: hidden;
}

.services__tabs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 450px;
  padding: 10px 30px;
  outline: 1px solid #c4c4c4;
  outline-offset: -2px;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s ease, outline-width 0s, -webkit-transform 1s ease;
  transition: all 0.3s ease, outline-width 0s, -webkit-transform 1s ease;
  -o-transition: all 0.3s ease, transform 1s ease, outline-width 0s;
  transition: all 0.3s ease, transform 1s ease, outline-width 0s;
  transition: all 0.3s ease, transform 1s ease, outline-width 0s, -webkit-transform 1s ease;
}

.services__tabs-item.appear {
  opacity: 0;
  -webkit-transform: translateX(200px);
      -ms-transform: translateX(200px);
          transform: translateX(200px);
}

.services__tabs-item:hover {
  max-width: 500px;
  outline: 2px solid #5a0d67;
}

.services__tabs-item:hover .services__tabs-num,
.services__tabs-item:hover .services__tabs-title {
  color: #5a0d67;
}

.services__tabs-num {
  font-weight: 400;
  font-size: 36px;
  color: #c4c4c4;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.services__tabs-title {
  font-size: 24px;
}

.why__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.why__img-wrapper {
  width: 100%;
}

.why__img {
  max-width: 320px;
}

.why__content {
  width: 100%;
}

.why__title-3 {
  margin-bottom: var(--margin-block);
}

.why__box {
  padding: 25px 0 45px;
  position: relative;
  color: #fff;
  background-color: #21062a;
}

.why__box::before {
  content: "";
  height: 100%;
  width: 180px;
  position: absolute;
  left: -180px;
  top: 0;
  background-color: #21062a;
}

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.why__item {
  max-width: 320px;
}

.why__subtitle {
  margin-bottom: 6px;
  line-height: 1.2;
  font-size: 24px;
}

.why__subtitle--big {
  font-weight: 400;
  font-size: 36px;
}

.why__text {
  color: #c4c4c4;
  text-align: justify;
}

.contacts {
  width: 100%;
  padding-top: 50px;
}

.contacts__title-3 {
  margin-bottom: var(--margin-block);
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.contacts__link {
  color: #2c2b2b;
}

.contacts__link:after {
  background-color: #2c2b2b;
  height: 1px;
}

.contacts__link:hover:after {
  max-width: 150px;
}

.request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 50px;
  background-color: #21062a;
}

.request__title-3 {
  margin-bottom: var(--margin-block);
  color: #fff;
  white-space: nowrap;
}

.request__title-3::after {
  background-color: #fff;
}

.request__form {
  width: 100%;
  max-width: 450px;
}

.request__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin-bottom: var(--margin-block);
}

.request__input {
  display: inline-block;
  width: 100%;
  padding: 24px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  outline: 1px solid #c4c4c4;
  -webkit-transition: all 0.3s ease, outline-width 0s;
  -o-transition: all 0.3s ease, outline-width 0s;
  transition: all 0.3s ease, outline-width 0s;
}

.request__input::-webkit-input-placeholder {
  font-weight: 300;
  color: #c4c4c4;
}

.request__input::-moz-placeholder {
  font-weight: 300;
  color: #c4c4c4;
}

.request__input:-ms-input-placeholder {
  font-weight: 300;
  color: #c4c4c4;
}

.request__input::-ms-input-placeholder {
  font-weight: 300;
  color: #c4c4c4;
}

.request__input::placeholder {
  font-weight: 300;
  color: #c4c4c4;
}

.request__input:hover,
.request__input:focus {
  outline: 2px solid #fff;
}

.request__input:hover::-webkit-input-placeholder, .request__input:focus::-webkit-input-placeholder {
  color: #fff;
}

.request__input:hover::-moz-placeholder, .request__input:focus::-moz-placeholder {
  color: #fff;
}

.request__input:hover:-ms-input-placeholder, .request__input:focus:-ms-input-placeholder {
  color: #fff;
}

.request__input:hover::-ms-input-placeholder, .request__input:focus::-ms-input-placeholder {
  color: #fff;
}

.request__input:hover::placeholder,
.request__input:focus::placeholder {
  color: #fff;
}

.request__btn-main {
  margin: 0 auto;
}

.footer {
  padding: 24px 0px;
  background-color: #21062a;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__logo-link {
  min-width: 197px;
}

.footer__privacy {
  color: #fff;
}

.slider__title-3 {
  margin-bottom: var(--margin-block);
}

.slider__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.slider__item {
  padding: 5px;
  padding-bottom: 15px;
  outline: 1px solid #c4c4c4;
}

.slider__item:hover {
  background-color: #5a0d67;
  outline: 1px solid #5a0d67;
}

.slider__item:hover .slider__text {
  color: #fff;
}

.slider__img {
  margin-bottom: 20px;
}

.slider__text {
  text-align: center;
  color: #2c2b2b;
}

.slider__text .slider__text {
  margin-top: 5px;
}

@media (max-width: 1200px) {
  .services__content {
    gap: 40px;
  }

  .why__box:before {
    width: 90px;
    left: -90px;
  }
}

@media (max-width: 992px) {
  .title-1 {
    font-size: 50px;
  }

  .title-2,
  .title-3 {
    font-size: 28px;
  }

  .header__content {
    padding: 30px 0 90px;
  }

  .header__links {
    margin-bottom: 30px;
  }

  .header__img {
    max-width: 700px;
  }

  .header__link {
    font-size: 28px;
  }

  .header__img-wrapper {
    padding-top: 180px;
  }

  .header__btn-main {
    margin-bottom: 20px;
  }

  .services__tabs-item {
    padding: 5px 15px;
    gap: 20px;
  }

  .why__box {
    padding: 20px 25px;
  }

  .why__box:before {
    display: none;
  }

  .why__subtitle--big {
    font-size: 28px;
  }

  .why__item {
    max-width: none;
  }

  .why__img-wrapper {
    width: 50%;
  }

  .why__img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: none;
  }

  .request {
    padding: 30px;
  }

  .contacts {
    padding: 30px 0;
  }

  .footer__socials {
    gap: 0;
  }

  .socials__link {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  :root {
    --margin-section: 50px;
    --margin-block: 30px;
  }

  .title-3 {
    display: block;
    padding-right: 0;
    text-align: center;
  }

  .title-3::after {
    display: none;
  }

  .title-4 {
    text-align: center;
  }

  .header__img-wrapper {
    display: none;
  }

  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .header__btn-main {
    margin-bottom: 30px;
  }

  .header__title-2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .header__content {
    padding-bottom: 30px;
  }

  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__text-box {
    max-width: none;
  }

  .services__title-3 {
    margin-bottom: 30px;
  }

  .services__btn-main {
    margin: 0 auto;
  }

  .services__tabs-item {
    margin: 0 auto;
  }

  .why__img-wrapper {
    display: none;
  }

  .why__container {
    padding: 0;
  }

  .slider__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .contacts__text {
    text-align: center;
  }

  .contacts__link-wrapper {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .footer__logo-link {
    display: none;
  }
}

@media (max-width: 600px) {
  .title-1 {
    font-size: 40px;
  }

  .title-2,
  .title-3 {
    font-size: 24px;
  }

  .header__link {
    font-size: 20px;
  }

  .main__flex-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .main__container {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .title-1 {
    font-size: 32px;
  }

  .title-2,
  .title-3 {
    font-size: 20px;
  }

  .btn-main--call::after,
  .btn-main--call::before {
    display: none;
  }

  .header__logo-link {
    max-width: 130px;
    min-width: auto;
  }

  .slider__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__privacy {
    display: none;
  }

  .footer__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@supports (-webkit-appearance:none){
.header__content{background:center/cover no-repeat url("./../img/header-bg.webp")}
}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}
