// FONTS

$fonts-root: "../fonts/";
$font-primary: "Oswald", sans-serif;

// MEDIA

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// COLORS

$color-white: #fff;
$color-grey: #c4c4c4;
$color-black: #2c2b2b;
$color-black--hover: #000;
$color-brand: #21062a;
$color-accent: #5a0d67;